html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #111927;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

#root {
    display: block;
    position: relative;
    overflow: auto;
}
